@charset "UTF-8";
/*-------------Миксины----------------*/
.about_block {
  display: flex;
  width: 100%;
  margin-top: -10dvh;
  padding-top: 10dvh;
}
@media screen and (max-width: 700px) {
  .about_block {
    flex-direction: column;
  }
}
.about_block .description_wrapper {
  flex: 1;
}
.about_block .description_wrapper .description {
  min-height: 50dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 740px;
  margin-left: auto;
  background: var(--white);
}
@media (max-width: 768px) {
  .about_block .description_wrapper .description {
    gap: calc(20px + 25.5 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .about_block .description_wrapper .description {
    gap: calc(20px + 15 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  .about_block .description_wrapper .description {
    padding-left: calc(16px + 23.8 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .about_block .description_wrapper .description {
    padding-left: calc(16px + 14 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  .about_block .description_wrapper .description {
    padding-right: calc(16px + 23.8 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .about_block .description_wrapper .description {
    padding-right: calc(16px + 14 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  .about_block .description_wrapper .description {
    padding-top: calc(40px + 51 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .about_block .description_wrapper .description {
    padding-top: calc(40px + 30 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  .about_block .description_wrapper .description {
    padding-bottom: calc(40px + 51 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .about_block .description_wrapper .description {
    padding-bottom: calc(40px + 30 * 0.0520833333vw);
  }
}
.about_block .description_wrapper .description .about__description {
  max-width: 620px;
  color: var(--black);
  line-height: 1.2;
}
@media (max-width: 768px) {
  .about_block .description_wrapper .description .about__description {
    font-size: calc(14px + 6.8 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .about_block .description_wrapper .description .about__description {
    font-size: calc(14px + 4 * 0.0520833333vw);
  }
}
.about_block .offer_block {
  min-height: 50dvh;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: var(--grey);
  font-size: 64px;
  line-height: 1;
  color: var(--gold);
  flex-direction: column;
}
@media (max-width: 768px) {
  .about_block .offer_block {
    font-size: calc(50px + 23.8 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .about_block .offer_block {
    font-size: calc(50px + 14 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  .about_block .offer_block {
    padding-left: calc(16px + 23.8 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .about_block .offer_block {
    padding-left: calc(16px + 14 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  .about_block .offer_block {
    padding-right: calc(16px + 23.8 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .about_block .offer_block {
    padding-right: calc(16px + 14 * 0.0520833333vw);
  }
}/*# sourceMappingURL=about.css.map */