@import './../../../style/common';

.main_button {
    position: relative;
    width: max-content;
    padding: 10px 40px;
    border: 1px solid var(--gold);
    text-transform: uppercase;
    @include adaptiveFont(16, 14);
    overflow: hidden;
    z-index: 2;
    &.white {
        color: var(--white);
    }
    &.fill {
        &::before {
            transform: translateX(0%);
        }
        @include mediaMinWidth(992) {
            &:hover {
                &::before {
                    transform: translateX(100%);
                }
            }
        }
    }
    &.load_btn {
        &::before {
            animation: loadBtn 2s infinite cubic-bezier(0, 0, 0.5, 1.26);
        }
    }
    &.stop_animation {
        &::before {
            animation: appearBack 1s ease;
        }
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--gold);
        z-index: -1;
        transform: translateX(-100%);
        transition: 0.4s;
    }
    @include mediaMinWidth(992) {
        &:hover {
            color: var(--blue);
            &::before {
                transform: translateX(0);
            }
        }
    }
    .content {
        transition: 0.5s;
        display: flex;
        align-items: center;
    }
}

@keyframes loadBtn {
    0%, 40%{
        transform: translateX(-101%);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes appearBack {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}