@charset "UTF-8";
/*-------------Миксины----------------*/
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
:root {
  --main-font: "Source Sans 3", sans-serif;
  --blue: #131313;
  --white: #fff;
  --gold: #dfad60;
}

/*---------- Обнуление --------*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, aside {
  display: block;
}

[inert], [inert] * {
  opacity: 0.3;
}

html, body {
  max-width: 100%;
  min-width: 320px;
  font-weight: 400;
  line-height: 1;
  font-size: 14px;
  font-family: var(--main-font);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  color: var(--white);
  background: var(--white);
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
  background: transparent;
}

a, a:visited {
  text-decoration: none;
  color: var(--font-white);
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
  -webkit-transition: background-color 0s 600000s, color 0s 600000s;
  transition: background-color 0s 600000s, color 0s 600000s;
}

.container {
  width: 100%;
  max-width: 1480px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .container {
    padding: calc(16px + 23.8 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .container {
    padding: calc(16px + 14 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  .container.padding {
    padding-top: calc(25px + 42.5 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .container.padding {
    padding-top: calc(25px + 25 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  .container.padding {
    padding-bottom: calc(25px + 42.5 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .container.padding {
    padding-bottom: calc(25px + 25 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  .container.padding {
    padding-left: calc(16px + 23.8 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .container.padding {
    padding-left: calc(16px + 14 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  .container.padding {
    padding-right: calc(16px + 23.8 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .container.padding {
    padding-right: calc(16px + 14 * 0.0520833333vw);
  }
}
.container.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
.container.flex.reverse {
  flex-wrap: wrap-reverse;
}

@keyframes Open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */